:root {
    --primary-color: #565554;
    --secondary-color: #008dd5;
    --accent1-color: #fefeff;
    --accent2-color: #ff3366;
    --accent3-color: #2ec4b6;
    --header-font: "Russo One", sans-serif;;
    --text-font: "Open Sans", sans-serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



h1, h2, h3 {
    font-family: var(--header-font);
}

header {
  
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    background-color: var(--primary-color);  
}

p, a, figcaption, form {
    font-family: var(--text-font);
}

header img {
    max-width: 120px;
    margin-left: 20px;
    padding: 10px;
}

.navigation {
    display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	font-family: Arial, sans-serif;
    justify-content: space-around;
}

.navigation a:hover {
	color: var(--accent2-color);
	font-weight: 800;
	text-decoration: underline;
}

h2 {
    color: var(--primary-color);
}


header a {
    text-decoration: none;
    color: var(--accent1-color);
    font-size: 1.2rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    clear: both;
}

.wireframe {
    color: #fff;
}

/* Ab0ut Us Page */

.aboutUs-body {
    max-width: 1100px;
    margin: 0 auto;
}

.hero {
    position: relative;

}

#heading {
    position: absolute;
    top: 20px;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    padding: 5px;
    color: var(--accent1-color);
}  

#hero-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero article {
    position: absolute;
    top: 30%;
    color: beige;
    background-color: rgb(88, 77, 61, 0.6);
    padding: 20px;
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
} 

.hero article img {
    margin-left: 10px;
    width: 150px;
    height: auto;
}

.hero article p {
    display: inline-block;
    white-space: normal;
    width: calc(100% - 165px); 
}
.history-heading {
    text-align: center;
    margin-top: 30px;
}

.history-section {
    margin: 10px 0 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
}

.history-section p {
    text-align: justify;
}

.adventure-section {
    text-align: center;
    margin-bottom: 30px; 
    margin: 0 auto;
}

.adventure-figure {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    
}
.adventure-section h2 {
    margin-bottom: 10px;
}
.adventure-section img {
    width: 200px;
}

.adventure-figure figcaption {
    background-color: var(--accent3-color);
    height: 40px;
    padding: 10px;
    text-align: justify;
    font-size: 19px;
    position: relative;
    bottom: 10px;
    font-family: var(--text-font);
   
}



/* Contact Us Page */
.heading-text {
    color: var(--primary-color);
    text-align: center;
    margin: 30px;
}

.company-info {
    margin-left: 20px;
}

.heading-text h1 {
    font-family: var(--header-font);
}

.contact-info p {
    line-height: 1.5;
}

.contact-info h2 {
    margin-bottom: 10px;
}

.employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;   
}

.employees h2 {
    flex-basis: 100%;
    text-align: center;
    margin: 30px;
}

.employees img {
    border-radius: 100%;
    height: 190px;
}

.employees figure {
    text-align: center;
}

iframe {
    margin-top: 20px;
}

form {
    max-width: 650px;
    margin: 20px auto 20px; 
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

button {
    margin: 1rem auto 0;
    background-color: var(--accent3-color);
    color: black;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: 100px;   
}

button:hover {
    background-color: var(--accent2-color);
}


/* trips page */

section.call-to-action {
    padding: 3rem;
    text-align: center;
    background-color: #f5f5f5;
}

section.call-to-action h1 {
    margin-bottom: 1rem;
    color: var(--primary-color);
    font-family: var(--header-font);
    font-size: 36px;
}

section.call-to-action .btn-contact {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--accent3-color);
    color: black;
    text-decoration: none;
    border-radius: 5px;  
}

section.call-to-action .btn-contact:hover {
    background-color: var(--accent2-color);
}

section.trip-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.trip-item {
    flex-basis: calc(33.33% - 1rem);
    margin-bottom: 2rem;
    text-align: center;
}
  
.trip-item img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.trip-item h3 {
    margin-top: 1rem;
    color: var(--primary-color);
    font-family: var(--header-font);
}

.trip-table {
    padding: 2rem;
    font-family: var(--paragraph-font);
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: var(--text-font);
}

th, td {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #ccc;
}

thead > tr {
    background-color: var(--accent3-color);
    color: black;
    font-size: 20px;
}

tbody > tr:nth-of-type(even) {
    background-color: var(--primary-color);
    color: var(--accent1-color);
}